.widget-title {
  text-align: center;
  text-decoration: overline;
  margin-bottom: 30px;
  font-size: 16px;
  letter-spacing: 2.5px;
  font-weight: 700;
}

.fon-scroll {
  background: url(../../../../public/img/fon_scroll.jpg)  no-repeat  50% 50% ;
  background-size: cover;
  height: 335px;
  width: 100%;
  display: flex;
  align-items:center;
}
