.banner-img {
  position: relative;
}

.banner-img img{
  width: 100%;
  height: 800px;
  object-fit: cover;
  position: absolute;
  top:160px;
  right: 0;
  left: 0;
  // background-size: 50% 50%;
  // background-size: cover;
 
}