.btn-support {
  position: fixed; 
  bottom: 100px; 
  left: 20px;
  background: #1ebbf0;
  border-radius: 30px;
  padding: 10px;
  color:white;
  border: none;
  align-items: center;
  display: flex;
}

.btn-buy {
  position: fixed; 
  bottom: 30px; 
  left: 20px;
  background: #88ba46;
  border-radius: 30px;
  padding: 10px;
  color:white;
  border: none;
  align-items: center;
  display: flex;
}

span {
  margin-left: 10px;
}