.navbar-menu__bottom {
  display: flex;
  justify-content: center;
  margin-top: 160px;
  position: relative;

}

.navbar-menu {
  overflow: hidden;
  height: inherit;

}

.navbar-menu__list {
  display: flex;
  flex-wrap: nowrap;
  height: inherit;
  gap: 20px;
  margin: 0;
  padding: 0;
  align-items: center;

}


.sub-menu {
  position: absolute;
  top: 75px;
  background-color: #ffffff;
  padding: 15px 0;
  width: 200px;
  opacity: 0;
  transition: opacity 1.75s;
  visibility: hidden;
  z-index: 22;
}

.category {
  // position: relative;
}

.lage-menu {
  position: absolute;
  display: flex;
  height: 300px;
  max-width: 980px;
  width: 100%;
  background-color:#ffffff;
  top: 90px;
  left: 100px;
  opacity: 0;
  transition: opacity 1.2s;
  visibility: hidden;
  padding: 10px;
  z-index: 22;

}

.menu-item {
  font-size: 14px;

}

// .lage-menu__item {
//   opacity: 0;
// }

.active {
  opacity: 100;
  visibility: visible;

}
// .active2 {
//   opacity: 1;
//   visibility: visible;
// }

.category-position {
  padding: 10px;
}

.sub-menu__item {
  font-size: 12px;
  padding: 10px 30px;
  transition: all 0.7s;
  color:rgb(128, 128, 128,);

}

ul {
  list-style: none;
}

li {
  padding: 20px 20px;
  cursor: pointer;
}

li.sub-menu__item:hover {
  color:rgb(0, 0, 0,);
  font-weight: bold;
  font-size: 14px;
}