.header {
  width: 100%;
  z-index: 20;
  top: 0;
  left: 0;
  position: absolute;
  background-color:#ffffff;
  // height: 100%;
  
}

.header-container {
  position: relative;
  margin: 0 auto;
  padding: 26px 15px;
  max-width: 1170px;
  min-height: 160px;
  
}

.navbar {
  min-height: 120px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px,max-content));
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100%;
}



.logo {
  padding: 10px 5px;
  text-align: center;

}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}



.social {
  display: flex;
  gap: 10px;
  padding: 10px 5px;
  overflow: hidden;
  justify-content: center;
}

.logo img {
  height: 80px;
  max-width: 140px;
  padding: 5px 0;
}